@import url("quantity.css");

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px
}

.thumbnail-max {
    max-width: 500px;
}

.details {
    width: 100%;
    padding: 0 300px;
}

.add-to-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
