{% extends 'base.html' %}

{% block head %}
<title>Boutique - NOM BOUTIQUE</title>
{% endblock %}

{% block main %}

<h1>Détails du produit</h1>
<h2>{{ product.name }}</h2>
<h3>{{ product.price }} €</h3>
<img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 250px">
<!-- TODO : basculer style dans CSS -->
<h4>Description</h4>
<p>{{ product.description }}</p>
{% if user.is_authenticated %}
   <a class="cta" href="{% url 'store:add-to-cart' product.slug %}">
      Ajouter au panier
   </a>
{% endif %}

{% for message in messages %}
   {{ message }}
{% endfor %}

{% endblock %}