{% extends 'base.html' %}

{% block head %}
<title>Boutique - NOM BOUTIQUE</title>
{% endblock %}

{% block main %}
<h1>La boutique</h1>
<div>
    {% for category in categories %}
        <a href="">{{ category.name }}</a>
        <p>{{ category.description }}</p>
        <!-- TODO : Dans le CSS cacher la description et l'afficher seulement quand le lien est hover -->
    {% endfor %}
</div>

{% for category in categories %}
    <div>
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
        {% for product in category.products.all %}
            <h3>{{product.name }} - {{ product.price }} €</h3>
            <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.thumbnail_url }}" alt="{{ product.name }}" style="max-width: 250px;">
                <!-- TODO : basculer style dans CSS -->
            </a>
      {% endfor %}
    </div>
    <!-- TODO : Dans le CSS cacher et afficher seulement quand le lien correspondant est cliqué -->
{% endfor %}

{% endblock %}