{% extends 'base.html' %}

{% block head %}
<title>Boutique - NOM BOUTIQUE</title>
{% endblock %}

{% block main %}
<h1>La boutique</h1>

{% for category in categories %}
    <div>
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
        {% for product in category.products.all %}
            <h3>{{product.name }} - {{ product.price }} €</h3>
            <a href="{{ product.get_absolute_url }}">
               <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 250px;">
               <!-- TODO : basculer style dans CSS -->
            </a>
      {% endfor %}
   </div>
{% endfor %}

{% endblock %}