<div>
    <h3>{% if address.alias %}
            {{ address.alias }}
            {% if address.default %}
                - Adresse par défaut
            {% endif %}
        {% else %}
            {% if address.default %}
                Adresse par défaut
            {% endif %}
        {% endif %}
        </h3>
    <p>
        {{ address.name }}
    </p>
    <p>
        {{ address.address_1 }}
    </p>
    {% if address.address_2 %}
        <p>
            {{ address.address_2 }}
        </p>
    {% endif %}
    <p>
        {{ address.city }}, {{ address.zip_code }}
    </p>
    <p>
        {{ address.get_country_display|upper }}
    </p>

    {% if not address.default %}
        <a href="{% url 'accounts:set-default-shipping' address.pk %}">
            Définir par défaut
        </a>
    {% endif %}

    <a href="{% url 'accounts:modify-address' address.pk %} ">Modifier l'adresse</a>

</div>